# General
*.log
.DS_Store
.idea/
.vscode/
.vs/
*.iml
*.zip

# React Native
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
# Yarn v2
.yarn/
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Metro
.metro/

# Android
android/app/build/
android/app/src/main/assets/index.android.bundle
android/app/src/main/assets/index.android.bundle.meta
android/build/
android/.gradle/
android/local.properties
android/*.iml

# iOS
ios/*.xcworkspace/
ios/Pods/
ios/build/
ios/DerivedData/
ios/*.mode1v3
ios/*.mode2v3
ios/*.pbuser
ios/*.perspectivev3
ios/*.xccheckout
ios/*.moved-aside
ios/*.hmap
ios/*.upa
ios/Fastlane/
ios/.xcode.env.local

# Web
dist/
web-build/

